<h1>新規登録</h1>

<%= link_to "ログインはこちら", "login_form" %>

<%= form_tag("/create") do%>
    <p>ユーザー名</p>
    <input name="name">
    
    <p>メールアドレス</p>
    <input type="email" name="email">

    <p>パスワード</p>
    <input type="password" name="password">
    
    <input type="submit" value="登録する">
<% end %>

